*{
    margin: 0px;
    

}
.flex1{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 20px;
    background-color: rgb(27, 201, 65);
    height: 85px;
    align-items: center;
}
    
.navegacao {
    background-repeat: no-repeat;
    background-size: 100%;
    gap: 15px;
    font-size: 23px;
    flex-direction: row;
    align-items: end;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

#Logo {
    background-image: url(download.jpg);

}


    

    
    
    
    


