* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: rgb(0, 102, 255);
    height: 100px;
    width: 100vw;
}

.logo {width: 100px;
}

.flex1 {
    display: flex;
    gap: 25px;
    list-style: none;
}

.item_nav {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

img {
    height: 100px;
    width: 100px;
}

.titulo {
    margin-left: 205px;
    width: 230px;
    height: 115px;
}

.container input {
    padding: 8px;
}

.btn {
    padding: 8px 50px;
    border-radius: 20px;
    background-color: black;
    
}

.btn a {
    text-decoration: none;
    color: white;
}



.btn:hover{
    transform: scale(1.1);
    background-color: white;
    
}

.btn a:hover {
    color: black;
}


/* 
.flex1 {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 20px;
    background-color: rgb(27, 201, 65);
    height: 85px;
    align-items: center;
}
    
.navegacao {
    background-repeat: no-repeat;
    background-size: 100%;
    gap: 15px;
    font-size: 23px;
    flex-direction: row;
    align-items: end;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

#Logo {
    background-image: url(download.jpg);

} */


    

    
    
    
    


