* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: rgb(0, 102, 255);
    height: 100px;
    width: 100vw;
}

.logo {
    width: 100px;
}

.flex1 {
    display: flex;
    gap: 25px;
    list-style: none;
}

.item_nav {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

img {
    height: 100px;
    width: 100px;
}

.titulo {
    margin-left: 205px;
    width: 230px;
    height: 115px;
}

.container input {
    padding: 8px;
}

.btn {
    padding: 8px 50px;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.btn a {
    text-decoration: none;
    color: white;
}



.btn:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
    transition: 0.5s;

}

.btn a:hover {
    color: rgb(255, 255, 255);
}

li {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 10px;
}

.bodypage2 {
    background-image: url(../img/Wallpaper.png);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    border: 10px solid #000000;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(0, 102, 255);
    backdrop-filter: blur(10px);
    margin-left: 705px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
}

input {
    border-radius: 20px;
    margin: 1px;
}

#TP {
    margin-bottom: 55px;
    
}
.card1 {
    
    margin-left: 85px;
    height: 450px;
    width: 325px;
    border:solid black;
    border-radius: 15px;
}

/* 
.flex1 {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 20px;
    background-color: rgb(27, 201, 65);
    height: 85px;
    align-items: center;
}
    
.navegacao {
    background-repeat: no-repeat;
    background-size: 100%;
    gap: 15px;
    font-size: 23px;
    flex-direction: row;
    align-items: end;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

#Logo {
    background-image: url(download.jpg);

} */